<header class="header">
    <a href="#" class="logo"><img src="assets/4a38cbacb4304a90b82f758e25108e53 (2).png" alt=""></a>
    <nav class="navbar">
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#Varities">Varities</a>
        <a routerLink="/login">Order</a>
        <a href="#Review">Review</a>
        <a href="#More">More</a>
    </nav>
    <div class="form-group">
        <input type="text" name="" id="searchbar" placeholder="Search Foods">
    </div>
    <span class="fas fa-search search-icon"></span>
    <div class="icons">
        <i class="fas fa-bars" id="menu-bars" onclick="menufunction()"></i>
        <a class="fa fa-sign-in" aria-hidden="true" style="margin: 10px 0;margin-left:10px;padding-left:8px;font-size:15px;text-decoration:none;color:var(--green);" routerLink="/login"><b> LogIn</b></a>
        <a class="fas fa-shopping-cart" id="cart" href="" routerLink="/login" style="color: var(--green);"></a>

    </div>
</header>
