<!-- <tr>
    <td>{{nrCrt}}</td>
    <td>{{description}}</td>
    <td class="text-right">{{quantity}}</td>
    <td class="text-right">{{unitPrice.main}}
    </td>
    <td class="text-right">{{amount.main}}<br>
        {{amount.secondary}}
    </td>
</tr> -->

<tr>
    <td  align="center">{{nrCrt}}</td>
    <td align="left">{{category_name}}</td>
    <td align="left">{{sku}}</td>
    
    <td align="center">{{quantity}}</td>
    <td align="right">{{total_unit_price}}</td>
    <!-- <td align="right">{{cgst}}</td> -->
    <td align="right">{{cgst_amount}}({{cgst}}%)</td>
    <!-- <td align="right">{{sgst}}</td> -->
    <td align="right">{{sgst_amount}}({{sgst}}%)</td>
    <!-- <td align="right">{{igst}}</td> -->
    <td align="right">{{igst_amount}}({{igst}}%)</td>
    <!-- <td align="right">{{discount}}</td> -->
    <td align="right">{{discount_amount}}({{discount}}%)</td>
    <td align="right">{{amount.main}}</td>
</tr>