<tr>
    <td  align="center">{{slip_no}}</td>
    <td align="left">{{quality_code}}</td>
    <td align="left">{{description}}</td>
    <td align="center">{{shade}}</td>
    <td  align="center">{{size}}</td>
    <td align="left">{{rate}}</td>
    <td align="left">{{quantity}}</td>
    <td align="center">{{value}}</td>
    <td align="right">{{discount}}</td>
    <td align="right">{{discount_amount}}</td>
    <td align="right">{{cgst}}</td>
    <td align="right">{{cgst_amount}}</td>
    <td align="right">{{sgst}}</td>
    <td align="right">{{sgst_amount}}</td>
    <!-- <td align="right">{{igst}}</td> -->
    <!-- <td align="right">{{igst_amount}}({{igst}}%)</td> -->
    <!-- <td align="right">{{discount}}</td> -->
    <!-- <td align="right">{{discount_amount}}({{discount}}%)</td> -->
    <td align="right">{{net_amount}}</td>
</tr>